:root {
  --light: #fff;
  --dark: #070724;
  --dark-grey: #38384f;
  --light-grey: #838391;
  --mercury-color: #419ebb;
  --neptune-color: #2d68f0;
  --venus-color: #eda249;
  --earth-color: #6f2ed6;
  --mars-color: #d14c32;
  --jupiter-color: #d83a34;
  --saturn-color: #cd5120;
  --uranus-color: #1ec2a4;
}
